<a href="https://colab.research.google.com/github/TobyChen320/DS-Unit-3-Sprint-1-Software-Engineering/blob/master/Utility_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import numpy as np
import pandas as pd


def train_val_test_split(df):
    """Summary Line.

    Extended description of function.

    Args:
      arg1: Function will split the data set into train=80, val=10, test=10. Note that this is a random split only.

    Returns:
      Will return a data set split 3 ways randomly with 80% being in train data set, 10% for val, and 10% in test.
    """
    train, val, test = np.split(
        df.sample(frac=1), [int(.8 * len(df)), int(.9 * len(df))])
    return train, val, test


def remove_outliers(df):
    """Summary Line.

    Extended description of function.

    Args:
      arg1: Function will remove 1.5 IQR outliers from data set.

    Returns:
      Will return a data set with outliers within the 1.5 IQR range removed.
    """
    q1 = df.quantile(0.25)
    q3 = df.quantile(0.75)
    iqr = q3 - q1
    df = df[~((df < (q1 - 1.5 * iqr)) | (df > (q3 + 1.5 * iqr))).any(axis=1)]
    return df

In [10]:
class Shoe():
    def __init__(self, color, size, style=None):
        self.color = color
        self.size = size
        self.style = style

if __name__ == "__main__":
    shoe1 = Shoe(color="Black", size="11")
    print(shoe1.color)
    print(shoe1.size)

Black
11

In [19]:
np.random.seed(33454)
df = pd.DataFrame({'a': np.random.randint(1, 200, 20), 
                          'b': np.random.randint(1, 200, 20),
                          'c': np.random.randint(1, 200, 20)})

df[df > 150] *= 10
df.shape

(20, 3)

In [24]:
df2 = remove_outliers(df)
df2.shape

(13, 3)

In [15]:
import pandas as pd
np.random.seed([3,1415])
df3 = pd.DataFrame(np.random.rand(10, 5), columns=list('ABCDE'))
df3

          A         B         C         D         E
0  0.444939  0.407554  0.460148  0.465239  0.462691
1  0.016545  0.850445  0.817744  0.777962  0.757983
2  0.934829  0.831104  0.879891  0.926879  0.721535
3  0.117642  0.145906  0.199844  0.437564  0.100702
4  0.278735  0.609862  0.085823  0.836997  0.739635
5  0.866059  0.691271  0.377185  0.225146  0.435280
6  0.700900  0.700946  0.796487  0.018688  0.700566
7  0.900749  0.764869  0.253200  0.548054  0.778883
8  0.651676  0.136097  0.544838  0.035073  0.275079
9  0.706685  0.713614  0.776050  0.542329  0.836541

In [16]:
train, val, test = train_val_test_split(df)

train

          A         B         C         D         E
9  0.706685  0.713614  0.776050  0.542329  0.836541
5  0.866059  0.691271  0.377185  0.225146  0.435280
1  0.016545  0.850445  0.817744  0.777962  0.757983
8  0.651676  0.136097  0.544838  0.035073  0.275079
7  0.900749  0.764869  0.253200  0.548054  0.778883
0  0.444939  0.407554  0.460148  0.465239  0.462691
3  0.117642  0.145906  0.199844  0.437564  0.100702
6  0.700900  0.700946  0.796487  0.018688  0.700566

In [17]:
val

          A         B         C         D         E
4  0.278735  0.609862  0.085823  0.836997  0.739635

In [18]:
test

          A         B         C         D         E
2  0.934829  0.831104  0.879891  0.926879  0.721535